:root {
    --main-color: #ffffff;
    --text-color: #434455;
    --primary-brand: #4d5ae5;
    --pressed-state: #404bbf;
    --dark: rgba(46, 47, 66, 1);
    --success: #31d0aa;
    --subtle-text: #8e8f99;
    --accent: #e7e9fC;
    --light: #f4f4fd;
    --hero-background: rgba(46, 47, 66, 0.7);
    --modal-background: #fcfcfc;
    --modal-overlay: rgba(46, 47, 66, 0.4);
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container{
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--main-color);
}

.list {
    list-style: none;
    display: flex;
}


.link {
    text-decoration: none;
}

 

.logo {
    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-span {
    color: var(--dark);
}

.header{
    box-sizing: border-box;
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-adv{
   padding: 120px 0;
}

.container-nav{
    display: flex;
    align-items: center;
}

.container-head{
    display: flex;
}

.header-nav {
    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav:hover {
    color: var(--pressed-state);
}

.header-nav:focus {
    color: var(--pressed-state);
}

.current{
    position: relative;
    color:var(--pressed-state)
}

.current::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    display: block;
    width: 100%;
    background-color: var(--pressed-state);
    border-radius: 2px;
}

.header-address {
    font-style: normal;
    margin-left: auto;
    align-items: center;
}

.header-address-link {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:focus {
    color: var(--pressed-state);
}

.header-address-link:hover {
    color: var(--pressed-state);
}

.advantage {
    background-color: var(--dark);
    margin: 0 auto;
    padding: 188px 0;
    display: flex;
    background-image: linear-gradient(var(--hero-background),
        var(--hero-background)),
        url(../images/peopleoffice1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
}

.advantage-headline {
    color: var(--main-color);
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.advantage-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color);
    cursor: pointer;
    background: var(--primary-brand);
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantage-button:focus {
    background-color: var(--pressed-state);
}

.advantage-button:hover {
    background-color: var(--pressed-state);
}

.advantage-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}

.advantage-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 
.advantage-item{
width: calc((100% - 72px) / 4);
}
.advantage-icon{
    background:var(--light);
    border-radius: 4px;
    width:264px;
    margin-bottom: 8px;
    height: 112px;
    display:flex;
    justify-content: center;
    align-items: center;
    fill: #2e2F42;
}
 

.section-name {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
}

.team {
    background: var(--light);
    padding: 120px 0;
}
.team-text{
    padding: 32px 0;
}
.team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-align: center;
    margin-bottom: 8px;
}

.team-professions {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.footer-section {
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.footer-container {
    display: flex;
    align-items: auto;
    align-items: baseline;
}

.footer-container-logo{
    margin-right: 120px;
}

.footer-socmedia-container{
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
    display: blo;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    max-width: 264px;
}
.footer-text-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 16px;
}

.logo-footer {
    color: var(--light);
    margin-right: 76px;

}
.footer-link{
display: inline-block;
margin-bottom: 16px;
color: var(--primary-brand);
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-icons{
    box-sizing: border-box;
    margin-right: 120px;
}

.footer-con-icon{
    gap:16px;
}

.footer-con-icon-item{
    width: 40px;
    height: 40px;
}

.footer-icon-item{
    fill: var(--light);
}

.footer-con-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-con-icon-link:hover {
    background-color: var(--success);
}

.footer-con-icon-link:focus {
    background-color: var(--success);
}
.team-card {
    background: var(--main-color);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08); ;
}



.portfolio-photo-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}

.portfolio-project-style {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.portfolio-nav-button:hover {
    color: var(--main-color);
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav-button:focus {
    color: var(--main-color);
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav-button {
    font-family: "Roboto", sans-serif;
    background: var(--light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    border: 1px solid var(--accent);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    box-sizing: border-box;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu{
    display: flex;
    margin: 0 auto;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}

.portfolio-content{
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-content-card{
width: calc((100% - 48px) / 3);
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content-card-txt{
    padding: 32px 16px;
    box-sizing: border-box;
    border: 1px solid var(--accent);
    border-top: none;
}
.container-portfolio{
    padding: 96px 0 120px 0;
}

.portfolio-img-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.text-overlay {
background-color: var(--primary-brand);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--light);
padding: 40px 32px;
position: absolute;
top: 0;
left: 0;
transform: translatey(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 100%;
height: 100%;
}

.portfolio-img-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-link:hover .text-overlay {
    transform: translatey(0);
}

.portfolio-img-link:focus .text-overlay {
    transform: translatey(0);
}

.menu{
  gap: 24px;
}

.address-list{
    display: flex;
    gap: 40px;
    list-style-type: none;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-wawd{
    padding-bottom: 120px;
}
.list-img{
width: calc((100% - 48px) / 3);
}

.header-list{
    list-style: none;
    display: flex;
    gap: 40px;
}
.portfolio-list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.contact-icon{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items:center;
}

.contact-icon-items{
    max-width: 232px;
}

.contact-icon-items{
    width: 40px;
    height: 40px;
    fill: var(--main-color);
}

.con-icon-item-link{
    width: 100%;
    height:100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1),
    color 250ms cubic-bezier(0.4,0,0.2,1);
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.con-icon-item-link:hover{
    background-color: #404bbf;
}
.con-icon-item-link:focus{
    background-color: #404bbf;
}
.team-icon-items{
    fill: var(--light);
}
/*Customers*/
.customers{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-headline{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.customer-list-icon-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--subtle-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-icon-link:hover {
    color: var(--pressed-state);
    border-color: var(--pressed-state);
}

.customer-list-icon-link:focus {
    color: var(--pressed-state);
    border-color: var(--pressed-state);
}

.customer-list-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    fill: var(--subtle-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 120px) / 6);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-item {
    fill: currentColor;
}
.customers-list {
display: flex;
    gap: 24px;
    list-style-type: none;
}

/*modaljs*/
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--modal-overlay);
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%) scaleY(0);
}

.modal-button {
    width: 24px;
    height: 24px;
    background: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.modal-button:hover {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--main-color);
}

.modal-button:focus {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--main-color);
}

.modal-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}